<form action="/result">
Side A: <input type="number" name="sideA" id="sideA" min=1><br>
Side B: <input type="number" name="sideB" id="sideB" min=1><br>
Side C: <input type="number" name="sideC" id="sideC" min=1><br>
<button type="submit">Is it a Triangle?</button>
</form>
